<?xml version="0.0" ?>
<robot name="plane">
    <link name="base_link">
    <inertial>
      <origin rpy="0 1.57 0" xyz="0.26 0 0.25"/>
       <mass value="1"/>
       <inertia ixx="1" ixy="1" ixz="1" iyy="1" iyz="1" izz="1"/>
    </inertial>
      <visual>
        <origin rpy="0 1.57 0" xyz="0.26 0 0.25"/>
        <geometry>
          <mesh filename="squareDumbell.stl" scale="1 1 1"/>
        </geometry>
        <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
      </visual>
      <collision>
      <origin rpy="0 1.57 0" xyz="0.26 0 0.25"/>
          <geometry>
            <mesh filename="squareDumbell.stl" scale="1 1 1"/>
          </geometry>
      </collision>
    </link>
    
</robot>